<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Myservlet</display-name>
    <servlet-name>Myservlet</servlet-name>
    <servlet-class>Myservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Myservlet</servlet-name>
    <url-pattern>/Myservlet</url-pattern>
  </servlet-mapping>
  <display-name>Umesh_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forget</display-name>
    <servlet-name>Forget</servlet-name>
    <servlet-class>Forget</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forget</servlet-name>
    <url-pattern>/Forget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forget_pass</display-name>
    <servlet-name>Forget_pass</servlet-name>
    <servlet-class>Forget_pass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forget_pass</servlet-name>
    <url-pattern>/Forget_pass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgetlogic</display-name>
    <servlet-name>forgetlogic</servlet-name>
    <servlet-class>forgetlogic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgetlogic</servlet-name>
    <url-pattern>/forgetlogic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forgot1</display-name>
    <servlet-name>Forgot1</servlet-name>
    <servlet-class>Forgot1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgot1</servlet-name>
    <url-pattern>/Forgot1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forget1</display-name>
    <servlet-name>Forget1</servlet-name>
    <servlet-class>Forget1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forget1</servlet-name>
    <url-pattern>/Forget1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForLogic</display-name>
    <servlet-name>ForLogic</servlet-name>
    <servlet-class>ForLogic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForLogic</servlet-name>
    <url-pattern>/ForLogic</url-pattern>
  </servlet-mapping>
</web-app>